p-menubar([style]="{'position': 'fixed','z-index':1000,'width':'100%'}", [model]="items", styleClass="app-navbar", [autoDisplay]="false")
  ng-template(pTemplate="start")
    .navbar-start
      button.sidebar-toggle(
        pButton,
        type="button",
        icon="pi pi-bars",
        (click)="toggleSidebar()",
        class="p-button-text p-button-rounded"
      )
      a.navbar-brand(href="#")
        img.navbar-logo(*ngIf="logo", [src]="logo", alt="Logo")
        span.navbar-title {{ title }}

  ng-template(pTemplate="end")
    .navbar-end
      //- Language Selector
      .language-dropdown-container(*ngIf="showLanguageSelector")
        p-dropdown(
          [options]="languageOptions",
          [(ngModel)]="selectedLanguage",
          (onChange)="onChangeLang($event)",
          optionLabel="label",
          optionValue="value",
          [style]="{'min-width': '8rem'}",
          styleClass="language-selector",
          appendTo="body"
        )
          ng-template(pTemplate="selectedItem")
            .flex.align-items-center
              span.pi.pi-globe.mr-2
              span {{getLangLabel(selectedLanguage)}}
          ng-template(let-language, pTemplate="item")
            span {{language.label}}
      
      //- Notifications
      .notification-container.mx-3
        button(
          pButton,
          type="button",
          icon="pi pi-bell",
          class="p-button-rounded p-button-text",
          (click)="notificationPanel.toggle($event)"
        )
        p-badge(
          *ngIf="notificationCount > 0",
          [value]="notificationCount.toString()",
          severity="danger",
          styleClass="notification-badge"
        )
      
      //- User Profile
      .user-profile
        button(
          pButton,
          type="button",
          class="p-button-text user-button",
          (click)="userMenu.toggle($event)"
        )
          .flex.align-items-center
            span.user-avatar J
            span.user-name {{userName}}
            span.pi.pi-angle-down.ml-2.user-dropdown-icon
      
      //- Mobile menu toggle button (only visible on mobile)
      button.mobile-menu-toggle(
        pButton,
        *ngIf="isMobileView",
        type="button",
        icon="pi pi-ellipsis-v",
        class="p-button-text p-button-rounded",
        (click)="mobileMenu.toggle($event)"
      )

//- Notification Panel
p-overlayPanel(
  #notificationPanel,
  [showCloseIcon]="true",
  [style]="{width: '350px'}",
  appendTo="body"
)
  .notification-header.p-3.flex.justify-content-between.align-items-center
    h3.m-0 {{ ms.translate('notifications') }}
    button(
      pButton,
      type="button",
      [label]="ms.translate('markAllAsRead')",
      class="p-button-text p-button-sm",
      (click)="markAllNotificationsAsRead()"
    )
  .notification-list.p-3
    p-menu([model]="notificationItems", [styleClass]="'w-full border-none'")

//- User Menu
p-menu(
  #userMenu,
  [model]="userMenuItems",
  [popup]="true",
  appendTo="body"
)

//- Mobile Menu Panel
p-overlayPanel(
  #mobileMenu,
  [style]="{width: '90vw', maxWidth: '300px'}",
  appendTo="body",
  [showCloseIcon]="true",
  styleClass="mobile-menu"
)
  .mobile-menu-header
    span {{ ms.translate('mobileMenu') }}
  .mobile-menu-content
    //- Add key menu items for mobile
    div.mobile-menu-item(
      *ngFor="let item of items",
      (click)="onMobileMenuItemClick(item)"
    )
      span.pi.mobile-menu-icon([ngClass]="item.icon")
      span {{item.label}}

